* {
    text-decoration: none;
    color: white;
}
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient( to right, rgba(65, 112, 162, 0) 35%, rgb(65, 112, 162) 50%);
}

.navbar {
    background-image: linear-gradient(to left, rgba(65, 112, 162, 0.308), rgba(65, 112, 162, 0));
    width: 100%;
    position: fixed;
}

.a-nav-img {
    font-size: 25px;
    padding-left: 100px;
}

.a-nav-img img{
    height: 90px;
}

.a-nav {
    font-size: 17px;
    font-weight: bolder;
    padding-left: 25px;
    float: right;
    padding-top: 30px;
}

.Sign {
    margin-right: 120px;
}

.Sign:link, .Sign:visited {
    color: black;
}

.a-nav:hover {
    color: rgb(36, 39, 38);
}

/* ----------------------------------------------------- */

.img-left {
    float: left;
    width: 50%;
}

.img-simile {
    width: 920px;
    height: 800px;
    position: relative;
    z-index: -1;
}

.title-right {
    padding-top: 200px;
    padding-bottom: 300px;
    width: 50%;
    display: inline-block;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    background-color: #114562;
    display: inline;
    border-radius: 10px;
    padding: 15px 24px;
}

